@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    background: white;
    color: white;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
}

p {
    line-height: 1.5em;
}

after {
    clear: both;
}

.login {
    margin: 50px auto;
    width: 320px;
    height: 400px;
}

.login form {
    margin: auto;
    padding: 22px 22px 22px 22px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #3d403fc5;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}

.login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    border-right: 3px solid #434a52;
    color: #606468;
    display: block;
    float: left;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.login form input[type="email"] {
    background-color: white;
    border-radius: 0px 3px 3px 0px;
    color: black;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 90%;
    height: 50px;
    border-radius: 10px;
}

.login form input[type="password"] {
    background-color: white;
    border-radius: 0px 3px 3px 0px;
    color: black;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 90%;
    height: 50px;
    border-radius: 10px;
}

.login form input[type="submit"] {
    background: #181f38;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#login form input[type="submit"]:hover {
    background: #16aa56;
}

@media screen and (max-width: 790px) {
    body {
        display: block;
    }
    .login {
        padding-top: 25px;
    }
}

@media screen and (max-width: 390px) {
    body {
        display: block;
    }
    .login {
        padding-top: 25px;
    }
}