* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    display: block;
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
}

#cities {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    margin-top: 50px;
    gap: 15px;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    padding-top: 50px;
}

.countries {
    display: flex;
    gap: 10px;
}

.countries>img {
    height: 30px;
    width: 35px;
}

.city_names>p {
    padding-top: 20px;
    font-weight: 500;
    color: gray
}

.city_names>p:hover {
    cursor: pointer;
    text-decoration: underline;
}

a {
    padding-top: 20px;
    font-weight: 500;
    color: gray
    /* text-decoration: none; */
}