@import url("https://fonts.googleapis.com/css?family=Poppins: wght@200; 400; 700");

.grey{
    color: rgb(117,117,117);
}

.zoom{
    transition: transform .3s
}
.zoom:hover{
    transform: scale(1.05);
}
body{
    background-color: rgb(243,244,247);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    /* color: #ffffff;
    
    
    padding: 0;
    margin: 0; */
}
#cleaning{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* axiforma-regular
    -apple-system
    BlinkMacSystemFont
    "Segoe UI"
    Roboto
    Helvetica
    Arial
    sans-serif; */
    padding: 55px 0px;
    display: grid;
    row-gap: 50px;
    margin-top: 19px;
}

#c-header{
    border: 0px solid red;
    text-align: center;
}
#c-header>h1{
    font-size: 40px;
    font-weight:700;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(33, 33, 33);
    text-align:center;
    text-indent:0px;
    line-height:48px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    color: black;
    }

#c-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    border: 0px solid red;
    width: 75%;
    margin: auto;
    font-family: "Poppins", sans-serif;

}
#c-grid>div>p{
    font-size: 20px;
    font-weight:500;
    font-style:normal;
    font-variant:normal;
    text-transform:capitalize;
    text-decoration:none solid rgb(33, 33, 33);
    text-align:center;
    text-indent:0px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:24px 0px 0px;
    padding:0px;
 }
#c-grid>div{
    border: 0px solid red;
    text-align: center;
    line-height: 10px;
}
#c-grid>div>img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 190px;
}




#luxury{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* axiforma-regular
    -apple-system
    BlinkMacSystemFont
    "Segoe UI"
    Roboto
    Helvetica
    Arial
    sans-serif; */
    padding: 55px 0px;
    display: grid;
    row-gap: 50px;
    margin-top: 19px;
}
.grey{
    color: rgb(117,117,117);
}

#l-header{
    border: 0px solid red;
    text-align: center;
    line-height: 60px;
}
#l-header>span{
    font-size: 23px;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(0, 0, 0);
    text-align:center;
    text-indent:0px;
    line-height:normal;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
}
#l-header>h1{
    font-size: 40px;
    font-weight:700;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(33, 33, 33);
    text-align:center;
    text-indent:0px;
    line-height:48px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    color: black;
    }

#l-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    border: 0px solid red;
    width: 75%;
    margin: auto;
    font-family: "Poppins", sans-serif;
}
#l-grid>div>p{
    font-size: 20px;
    font-weight:500;
    font-style:normal;
    font-variant:normal;
    text-transform:capitalize;
    text-decoration:none solid rgb(33, 33, 33);
    text-align:center;
    text-indent:0px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:24px 0px 0px;
    padding:0px;
 }
#l-grid>div{
    border: 0px solid red;
    text-align: center;
    line-height: 10px;
}
#l-grid>div>img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 190px;
}




#repair{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* axiforma-regular
    -apple-system
    BlinkMacSystemFont
    "Segoe UI"
    Roboto
    Helvetica
    Arial
    sans-serif; */
    padding: 55px 0px;
    display: grid;
    row-gap: 50px;
    margin-top: 19px;
}

#r-header{
    border: 0px solid red;
    text-align: center;
}
#r-header>h1{
    font-size: 40px;
    font-weight:700;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(33, 33, 33);
    text-align:center;
    text-indent:0px;
    line-height:48px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    color: black;
    }

#r-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    border: 0px solid red;
    width: 75%;
    margin: auto;
    font-family: "Poppins", sans-serif;

}
#r-grid>div>p{
    font-size: 18px;
    font-weight:500;
    font-style:normal;
    font-variant:normal;
    text-transform:capitalize;
    text-decoration:none solid rgb(33, 33, 33);
    text-align:center;
    text-indent:0px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:24px 0px 0px;
    padding:0px;
 }
#r-grid>div{
    border: 0px solid red;
    text-align: center;
    line-height: 10px;
}
#r-grid>div>img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 190px;
}


#protection{
    border: 0px solid rebeccapurple;
    margin-top: 19px;
}
#protection>img{
    width: 100%;
    height: 200px;
}

#policy{
    margin-top: 19px;
}
#policy>img{
    width: 100%;
}

#proud{
    margin-top: 19px;
}
#proud>img{
    width: 100%;
}


#footer{
    width: 100%;
    padding: 20px 0px;
    background-color: black;
    font-family:"Poppins", sans-serif ;
    font-size: 20px;
}
#cities_disp,#links_disp{
    padding: 20px;
    width: 85%;
    line-height: 34px;
    text-align: justify;
    margin: auto;
    height: 650px;
    background-color: black;
}
#links_disp{
    height: 90px;
}
hr{
    width: 86%;
}
span{
    font-size: 15px;
    margin-right: 50px;
    font-family: Sans-serif;
    font-weight: bold;
    display:inline-block;
    color: rgb(205,204,205);
}
span:hover{
    cursor: pointer;
}

#pp{
    width: 90%;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: center;
}
#pp>div{
    border: 0px solid white;
    justify-content: space-evenly;
}
#o{
    flex:4;
    padding: 10px 20px;
    display: flex;
    background-color: black;
    align-items: center;
    color: white;
}

#o>a>img{
    height: 110%;
    width: 40%;
    color: white;
    margin-left: 40px;
}

#t{
    flex: 5;
    background-color:black;
    display: flex;
    justify-content: space-around;
    border: 0px dotted red;
    padding: 20px;
}


#t>div{
    border: 0px solid red;
    gap: 20px;
}
#t>div:nth-child(1){
   
    padding: 10px ;
}
#t>div:nth-child(2){

    display: flex;
    gap: 40px;

}
#t>div>img{
    width: 100%;
    height: auto;
    border: 0px solid white;
}

#try{
    background-color:white;
    position: fixed;
    width: 100%;
    /* height: 70px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 1;
    display: block;
    /* left: -600px; */
    /* justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center; */
    height: 90px;
    border: 0px solid red;
 }

 #try1{
    z-index: 1;
    display: none;
    /* justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center; */
    /* height: 150px; */
 }

 #try>div{
    border:1px dotted rgba(128, 128, 128, 0.41);
    background-color:white;
    width: 30%;
    /* z-index: 1; */
    margin-top: 10px;
    border-radius: 7px;
    margin-left: 15%;
    padding-right: 200px;
    height: 60px;
    /* height: 40x; */
    text-align: left;
    /* padding-top: 10px; */
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin:auto */
 }


#try>div>i{
    background-color:white;
    border: 0px solid #a1a7b200;
    /* padding: 7px 12px 7px 6px; */
    margin-left: 30px;
    /* margin-right: px; */
    font-size:20px
   
    /* background-color: white; */
    /* margin-left: 10px; */
}
 #try>div>input{
    background-color:white;
    border: 0px solid #0055f200;
    font-size:30px;
    /* border-left: 0px solid red; */
    /* width: 50%; */
    /* height: 30px; */
    margin-top:8px;
    /* padding-right: 80px; */
    /* margin-top: -7px; */
/* navbar */
border-radius: 200px;
}
