#sec{
    height: 430px;
    width: 100%;
    padding-top: 10px;
    background-color: rgb(153, 230, 255);
    margin: 20px 0px;
}
#sec>div{
    width: 85%;
    margin: auto;
    text-align: center;
}
#sec>div>p:nth-child(1){
    font-size: 45px;
    font-weight: bold;
}
#con{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 35px;
}
#con>div{
    width: 30%;
    height: 300px;
}
#con>div>img{
    width: 95%;
    border: 4px solid black;
    height: 60%;
    border-radius: 10px;
}
#con>div>img:hover{
    margin:-20px;
    transition-property: all;
    height: 75%;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 100%;
}
#con >div>p{
    font-size: 19px;
    font-weight: bold;
}
#header{
    width: 100%;
    background-color: yellow;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZVUWX_wAltdzxcz1wiGvz2CBIeQsKWgc-_w&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
#nav+hr{
    margin-top: 40px;
    height: 2px;
    background-color: black;
}
#nav{
    height: 10%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#nav>div:nth-child(1)>img{
    height: 100%;
    width: 70%;
    margin-top: 20px;
    margin-left: 40px;
}
#nav>div:nth-child(2)>div>a{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
#pp{
    width: 100%;
    height: 100px;
    display: flex;
}
#o{
    flex:4;
    padding: 10px 20px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: white;
}
#t{
    flex: 5;
    background-color:black;
    display: flex;
    justify-content: space-between;
}
#o>a>img{
    height: 110%;
    width: 40%;
    color: white;
    margin-left: 40px;
}
#t>div:nth-child(1){
    flex: 4;
    padding: 10px ;
}
#t>div:nth-child(2){
    flex: 5;
    display: flex;
}
#t>div>img{
    margin-top: 20px;
    width: 40%;
    height: 50%;
}
img+img{
    margin-left: 40px;
}
body{
    margin: 10px 0 0 0 ;
    padding: 0px;
    background-color:rgb(255, 255, 179);
    font-family: sans-serif;
}
#footer{
    width: 100%;
    padding: 20px 0px;
    background-color: black;
}
#cities_disp,#links_disp{
    padding: 20px;
    width: 85%;
    line-height: 34px;
    text-align: justify;
    margin: auto;
    height: 650px;
    background-color: black;
}
#links_disp{
    height: 90px;
}
hr{
    width: 86%;
}
span{
    font-size: 15px;
    margin-right: 50px;
    font-family: Sans-serif;
    font-weight: bold;
    display:inline-block;
    color: rgb(214, 214, 194);
}
span:hover{
    cursor: pointer;
}