@import url("https://fonts.googleapis.com/css?family=Poppins: wght@200; 400; 700&display=swap");
* {
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    height: 50px;
    position: fixed;
    background-color: white;
    width: 80%;
    margin: auto;
    margin-left: 135px;
    background-color: #d0e0e3;
    z-index: 1;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#left>a>img {
    height: 30px;
    width: 30px;
    line-height: 50px;
    margin-top: 10px;
    border-radius: 50%;
}

#left {
    display: flex;
    /* border: 2px solid black; */
    width: 300px;
    border-radius: 5px;
    padding-left: 5px;
}

#left>h2 {
    line-height: 50px;
    padding-left: 5px;
    font-size: 30px;
    font-style: unset;
}

#right {
    display: flex;
    gap: 25px;
    justify-content: right;
    text-align: center;
    padding-right: 10px;
}

#right>a {
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}


/* #right>a:nth-child(3) {
    background-color: #f3f3f3;
    color: black;
    border-radius: 10px;
    border: 1px solid grey;
} */

#cont1 {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/urbanclap-prod/categories/category_v2/category_3cb50750.jpeg);
    height: auto;
    width: 100%;
    padding-bottom: 70px;
}

#cont1a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

#img>img {
    padding-top: 50px;
}

#img>img {
    aspect-ratio: 1 / 1;
    animation: 0.5s linear 1s 1 alternate sun-rise;
}

@keyframes sun-rise {
    from {
        transform: translateX(110vh);
    }
    to {
        transform: translateX(0);
    }
}

#content {
    aspect-ratio: 1 / 1;
    animation: 0.5s linear 1s 1 alternate sun-rise;
    margin-top: 5%;
}

@keyframes sun-rise {
    from {
        transform: translateX(110vh);
    }
    to {
        transform: translateX(0);
    }
}

#content {
    /* width: 90%; */
    padding-top: 120px;
}

#content>h1 {
    font-size: 45px;
}

#content>p {
    font-size: 23px;
    color: gray;
    padding-top: 25px;
}

#cont1b {
    height: auto;
    width: 80%;
    margin: auto;
    /* background-color: #0251ff;
    border-radius: 10px; */
    margin-top: -10%;
    background: linear-gradient(91.41deg, #0050ff .15%, #4d85ff 99.82%);
    box-shadow: 0 6px 8px rgb(0 80 255 / 15%);
    border-radius: 12px;
    padding: 30px;
}

#name {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background: hsla(0, 0%, 100%, .2);
    height: 50px;
    padding: 15px;
    /* color: #fff; */
    width: 300px;
    font-size: 18px;
    margin-right: 5px;
}

#number {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background: hsla(0, 0%, 100%, .2);
    height: 50px;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    margin-right: 5px;
}

#passion {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background: hsla(0, 0%, 100%, .2);
    height: 50px;
    padding: 15px;
    color: white;
    font-size: 16px;
    margin-right: 5px;
}

#btn {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    /* background: hsla(0, 0%, 100%, .2); */
    height: 50px;
    padding: 15px;
    color: #fff;
    width: 200px;
    background-color: white;
    color: blue;
    /* font-size: 16px; */
    font-weight: bold;
}

#btn:hover {
    cursor: pointer;
}

#inputs {
    padding-top: 20px;
}

#cont1b>h2 {
    color: white;
    font-size: 25px;
}

#cont2 {
    height: auto;
    background: linear-gradient(180deg, white.15%, #c8d1d7 99.82%);
    padding-bottom: 50px;
}

#cont2>h1 {
    text-align: center;
    padding-top: 55px;
    font-size: 40px;
    font-style: unset;
    font-weight: 500;
}

#cont2>p {
    padding-top: 15px;
    color: gray;
    text-align: center;
    font-size: 22px;
}

#cont2a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    gap: 15px;
    padding-top: 70px;
}

#cont2a>div>h1 {
    text-align: center;
    color: green;
    font-size: 35px;
    font-weight: 500;
}

#cont2a>div>p {
    /* background-image: url(https://s3-ap-southeast-1.amazonaws.com/urbanclap-prod/categories/category_v2/category_3d776cf0.svg);
    background-repeat: no-repeat;
  
    background-position: right; */
margin-top: -15%;
}


#cont2a>div>p {
    text-align: center;
    font-size: 20px;
}

#cont2b {
    width: 80%;
    margin: auto;
    height: auto;
    padding: 40px;
    background-color: white;
    margin-top: 70px;
    border-radius: 10px;
}

#cont2b>h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}

#cont2b>p {
    text-align: center;
    font-size: 18px;
    color: gray;
    padding-top: 10px;
}

#cont2b1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 45px;
}

#cont2b1>div>img:hover {
    transform: scale(1.2);
}

#cont2b1>div>img {
    display: block;
    margin: auto;
}

#cont2b1>div>p {
    text-align: center;
    font-size: 18px;
    color: black;
    padding-top: 10px;
}

#footer {
    background-color: black;
}

#footer>img {
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer1 {
    display: none;
}

@media screen and (max-width: 480px) {
    #navbar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 50px);
        position: fixed;
        background-color: white;
        height: auto;
        width: 100%;
        margin-left: -1px;
        padding-bottom: 15px;
    }
    #left {
        display: flex;
        border: 2px solid black;
        border-radius: 5px;
        padding: 0px 10px 0px 10px;
        width: fit-content;
        margin: auto;
    }
    #right {
        width: fit-content;
        padding-top: 10px;
        margin: auto;
    }
    #cont1a {
        grid-template-columns: repeat(1, 1fr);
    }
    #content>h1,
    p {
        width: 90%;
    }
    #img>img {
        width: 90%;
    }
    #cont1b {
        height: auto;
    }
    #name,
    #number,
    #passion {
        width: 100%;
        margin-top: 6px;
    }
    #btn {
        display: block;
        margin: auto;
        margin-top: 5px;
    }
    #cont2a {
        grid-template-columns: repeat(1, 1fr);
    }
    #footer {
        display: none;
    }
    #footer1 {
        display: block;
    }
    #footer1 {
        background-color: black;
    }
    #footer1>img {
        width: 90%;
        display: block;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 790px) {
    #navbar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 50px);
        position: fixed;
        background-color: white;
        height: auto;
        width: 100%;
        margin-left: -1px;
        padding-bottom: 15px;
    }
    #left {
        display: flex;
        border: 2px solid black;
        border-radius: 5px;
        padding: 0px 10px 0px 10px;
        width: fit-content;
        margin: auto;
    }
    #right {
        width: fit-content;
        padding-top: 10px;
        margin: auto;
    }
    #cont1a {
        grid-template-columns: repeat(1, 1fr);
    }
    #content>h1,
    p {
        width: 90%;
    }
    #img>img {
        width: 90%;
    }
    #cont1b {
        height: auto;
    }
    #name,
    #number,
    #passion {
        width: 100%;
        margin-top: 5px;
    }
    #btn {
        display: block;
        margin: auto;
        margin-top: 5px;
    }
    #cont2a {
        grid-template-columns: repeat(1, 1fr);
    }
    #footer {
        display: none;
    }
    #footer1 {
        display: block;
    }
    #footer1 {
        background-color: black;
    }
    #footer1>img {
        width: 90%;
        display: block;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}